<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container">
    <h1 class="text-center">User registered</h1>
    <br>
    <h2 class="text-center">Username : <span th:text="${user.userName}"></span></h2>
    <br>
    <h2 class="text-center">Password : <span th:text="${user.password}"></span></h2>
    <br>
    <h2 class="text-center">Selected role : <span th:text="${user.role}"></span> </h2>
    <br>
    <h2 class="text-center">Selected gender : <span th:text="${user.gender}"></span> </h2>
</div>
<div th:insert="back"></div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</html>