<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container">
    <h1 class="text-center">User Example</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form th:action="@{/webapp/processUser}" th:object="${user}" method="post">
                <!--Username field-->
                <div class="form-group">
                    <label for="u-name">Username:</label>
                    <input id="u-name" class="form-control" placeholder="User Name" th:field="*{userName}" type="text"
                           th:classappend="${#fields.hasErrors('userName')} ? 'is-invalid' : 'is-valid'"/>
                    <div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">
                        <span th:errors="*{userName}"></span>
                    </div>
                </div>
                <!------------------>
                <!--Password field-->
                <div class="form-group">
                    <label for="pass">Password:</label>
                    <input id="pass" class="form-control" placeholder="Password" th:field="*{password}" type="password"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : 'is-valid'"/>
                    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                        <span th:errors="*{password}"></span>
                    </div>
                </div>
                <!------------------>
                <!----Role field---->
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select id="role" class="form-control" th:field="*{role}"
                            th:classappend="${#fields.hasErrors('role')} ? 'is-invalid' : 'is-valid'">
                        <option th:each="role : ${T(edu.mvc.model.User.Role).values()}"
                                th:value="${role}" th:text="${role}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('role')}" class="invalid-feedback">
                        <span th:errors="*{role}"></span>
                    </div>
                </div>
                <!----------------->
                <!--Gender field-->
                <div class="form-group">
                    <label for="genderRadio">Gender:</label>
                    <div id="genderRadio" class="form-check">
                        <div th:each="gender : ${T(edu.mvc.model.User.Gender).values()}">
                            <input class="form-check-input" type="radio" th:field="*{gender}" th:id="${gender}" th:value="${gender}"
                                   th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' : ''">/>
                            <label class="form-check-label" th:for="${gender}" th:text="${gender}"></label>
                        </div>
                        <div th:if="${#fields.hasErrors('gender')}" class="invalid-feedback">
                            <span th:errors="*{gender}"></span>
                        </div>
                    </div>
                </div>
                <!---------------->
                <button class="btn btn-success" type="submit" name="POST">Sign up</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</html>